---
import MainLayout from '../layouts/main-layout.astro'
import Wallpaper from '../assets/img/atlas-wallpaper.webp'
import PCGuide from '../assets/img/pcguide-logomark.svg'
import ItsFoss from '../assets/img/itsfoss-logomark.svg'
import WePC from '../assets/img/wepc-logomark.svg'
import TechSpot from '../assets/img/techspot-logomark.svg'
import Splitter from '../assets/img/splitter.svg'
import Review from '../assets/img/review.svg'
import GitHubStar from '../assets/img/github-star.svg'
import TrustPilotStar from '../assets/img/trustpilot-logo-color.svg'
import TrustPilotStars from '../assets/img/trustpilot-stars.svg'
import Logo from '../assets/img/logo.svg'
import Verified from '../assets/img/verified.svg'
import GPLLogo from '../assets/img/gpl3-logo.svg'
import GitHub from '../assets/img/github-overview.png'
import Chevron from '../assets/img/chevron.svg'
import PlayButton from '../assets/img/play-button.svg'

import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'
---

<MainLayout
    title="An optimized version of Windows, designed for gamers."
    description="Windows is slow, clunky and unreliable. Atlas brings life back to your Windows system, designed to maximize performance and minimize latency. You will experience a smoother and more responsive Windows, and higher framerates over using standard Windows."
>
    <main>
        <div class="radial-bg">
            <div class="container main">
                <div class="hero">
                    <a href="https://docs.atlasos.net/getting-started/installation" target="_blank" class="tagline">
                        <Icon name="book-open-icon" height="15px" class="icon" />
                        <span>View our detailed documentation for installing <span class="arrow">--></span></span>
                    </a>
                    <h1>A modification of Windows, designed for gamers.</h1>
                    <p>It’s time to experience a new Windows experience. Designed for gamers, with improved in-game framerates and lowered latency.</p>
                    <div class="buttons">
                        <a class="button primary" href="/">AME Wizard -></a>
                        <a class="button secondary" href="/">Atlas Playbook -></a>
                    </div>
                </div>
                <div class="wallpaper-wrapper">
                    <Image src={Wallpaper} class="wallpaper" alt="atlas os wallpaper" />
                </div>
            </div>
        </div>
        <div class="container main">
            <div class="brand-list">
                <a href="https://pcguide.com/software/atlasos/" rel="noreferrer nooopener" target="_blank">
                    <Image src={PCGuide} alt="pc guide logomark" class="logomark" />
                </a>
                <a href="https://news.itsfoss.com/atlas-os/" rel="noreferrer nooopener" target="_blank">
                    <Image src={ItsFoss} alt="its foss logomark" class="logomark" />
                </a>
                <a href="https://wepc.com/tips/is-atlas-os-worth-it/" rel="noreferrer nooopener" target="_blank">
                    <Image src={WePC} alt="we pc logomark" class="logomark" />
                </a>
                <a href="https://techspot.com/news/97095-check-out-atlasos-redesigned-windows-10-version-gamers.html" rel="noreferrer nooopener" target="_blank">
                    <Image src={TechSpot} alt="tech spot logomark" class="logomark" />
                </a>
            </div>
            <div class="upgrade-comparison">
                <div class="heading">
                    <h2>
                        <span class="darken">F**k Windows</span> Upgrade to <span class="highlight">Atlas</span>
                    </h2>
                    <p>
                        Windows is slow, clunky and unreliable. Atlas brings life back to your Windows system, designed to maximize performance and minimize latency. You will experience a smoother and more responsive Windows, and higher framerates
                        over using standard Windows.
                    </p>
                </div>
                <div class="cards">
                    <div class="card dark">
                        <div class="title">
                            <Icon name="fire-icon" class="icon" height="20px" alt="performance fire icon" />
                            <h3>Performance</h3>
                        </div>
                        <p>By Removing unnecessary components, disabling power-saving features, and optimizing services.</p>
                    </div>
                    <div class="card light">
                        <div class="title">
                            <Icon name="latency-icon" class="icon" height="16px" alt="latency icon" />
                            <h3>Latency</h3>
                        </div>
                        <p>By fine-tuning processes, implementing an efficient power plan, and optimizing networking, you'll feel a difference.</p>
                    </div>
                    <div class="card dark">
                        <div class="title">
                            <Icon name="fingerprint-icon" class="icon" height="20px" alt="privacy fingerprint icon" />
                            <h3>Privacy</h3>
                        </div>
                        <p>By eliminating Microsoft's notorious tracking, pre-installed apps, and bloatware, you can feel confident when using Atlas.</p>
                    </div>
                </div>
            </div>

            <div class="windows-comparison">
                <div class="heading">
                    <h2>
                        <span class="highlight">Atlas</span> vs. <span class="darken"> Windows</span>
                    </h2>
                    <p>With reduced processes, lower RAM usage, and improved in-game framerates, why wouldn't you consider making the switch?</p>
                </div>
                <div class="cards hide">
                    <div class="card">
                        <div class="card-title">
                            <Icon name="cpu-icon" class="icon" height="28px" alt="processes cpu icon" />
                            <h3>Processes</h3>
                        </div>
                        <p>Atlas strips out a bunch, significantly reducing Windows' bloated process count from 145 to just 35.</p>
                        <span>145 -> 35~</span>
                    </div>
                    <Image src={Splitter} alt="Section splitter" />
                    <div class="card">
                        <div class="card-title">
                            <Icon name="bolt-icon" class="icon" height="32px" alt="bolt memory icon" />
                            <h3>Ram usage</h3>
                        </div>
                        <p>Thanks to Atlas we've freed up 1.4GB of RAM usage from boot, which can then be allocated to other tasks.</p>
                        <span>2.3GB -> 900MB~</span>
                    </div>
                    <Image src={Splitter} alt="Section splitter" />
                    <div class="card">
                        <div class="card-title">
                            <Icon name="rocket-icon" class="icon" height="28px" alt="rocket fps icon" />
                            <h3>1% FPS</h3>
                        </div>
                        <p>We saw a significant improvement in FPS lows. With an increase from 289 on Windows to 394 FPS with Atlas.</p>
                        <span>289 FPS -> 394 FPS</span>
                    </div>
                </div>
                <!-- <div class="benchmark-link">
                        <a href="/">View detailed benchmarks -></a>
                    </div> -->
            </div>

            <div class="trustpilot-section">
                <div class="community-info">
                    <h2>What does our <span class="highlight">community</span> think?</h2>
                    <p>Our community is fantastic and reviews us with a significant amount of positive feedback. We take great pride in our Trustpilot rating, which reflects our commitment for improving Atlas.</p>
                    <div class="review-star">
                        <Image src={TrustPilotStars} alt="Trustpilot star" />
                        <p>
                            <span>4.8 out of 5</span> on <a href="https://trustpilot.atlasos.net" target="_blank" rel="noreferrer"> Trustpilot -></a>
                        </p>
                    </div>
                </div>
                <div class="review-item">
                    <div class="review-img">
                        <Image src={Review} alt="Review" />
                    </div>
                    <div class="trustpilot-box">
                        <Image src={Logo} alt="Atlas logo" />
                        <div class="info">
                            <span>atlasos.net</span>
                            <p class="review-count">Reviews 44 - Excellent</p>
                            <div class="stars">
                                <Image src={TrustPilotStars} alt="Truspilot stars" />
                            </div>
                            <div class="verified-company">
                                <Image src={Verified} alt="Verified" />
                                <p>VERIFIED COMPANY</p>
                            </div>
                        </div>
                        <Image src={TrustPilotStar} alt="Trustpilot star" class="tp-star" />
                    </div>
                </div>
            </div>

            <div class="open-source-section">
                <div class="github-image">
                    <Image src={GitHub} alt="GitHub repository" />
                    <div class="gh-stars" id="gh-stars-wrap">
                        <div class="gh-stars-info">
                            <div class="content">
                                <div class="star">
                                    <Image src={GitHubStar} alt="GitHub star" />
                                </div>
                                <p>Starred</p>
                                <span class="star-count" id="star-amount-badge">ERROR</span>
                            </div>
                            <div class="line"></div>
                            <div class="content">
                                <button class="chevron-img" id="toggle-star-list-btn">
                                    <Image class="chevron-img" src={Chevron} alt="Chevron" />
                                </button>
                            </div>
                        </div>
                        <div class="gh-recent-stars" id="gh-star-list">
                            <div class="content-wrap" id="gh-star-list-items"></div>
                        </div>
                    </div>
                </div>
                <div class="gpl-info">
                    <h2>An open-source, <span class="highlight">GPL-3.0</span> project</h2>
                    <p>We are an open-source project, licensed under GPL-3.0 and our GitHub repository has many stargazers. We would greatly appreciate it if you check it out and, if interested, consider contributing to our vision.</p>
                    <div class="stargazer-count">
                        <div class="stargazers">
                            <div class="star">
                                <Image src={GitHubStar} alt="GitHub star" />
                            </div>
                            <p>
                                <span id="star-amount-tag">ERROR</span> stargazers on <a href="https://github.com/atlas-os/atlas" target="_blank" rel="noreferrer"> GitHub -></a>
                            </p>
                        </div>
                        <Image src={GPLLogo} alt="GPL logo" />
                    </div>
                </div>
            </div>
            <div class="linus-section">
                <div class="heading">
                    <h3><span class="darken">“</span>If you can run Windows with <span class="highlight">this kind of performance</span>... Jeepers Creepers.<span class="darken">”</span></h3>
                    <p>— Linus Sebastian</p>
                </div>
                <a href="https://www.youtube.com/watch?v=dc7CIkZcWYE" target="_blank" rel="noreferrer" class="linus-video">
                    <div class="preview-image">
                        <div class="circle">
                            <Image src={PlayButton} alt="Video play button" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-radial">
            <div class="community-section">
                <h3>Join our community of 30,000+</h3>
                <p>Join a welcoming community, full of passionate tech enthusiasts. Talk to like-minded individuals and seek advice from experts on everything Atlas.</p>
                <div class="buttons">
                    <a class="button primary" href="/">Join our community -></a>
                    <a class="button tertiary" href="/">Star us on GitHub <span class="arrow">--></span></a>
                </div>
            </div>
        </div>
    </main>
</MainLayout>

<script>
    const toggleStarBtn = document.getElementById('toggle-star-list-btn')
    const starList = document.getElementById('gh-star-list')
    const starWrapper = document.getElementById('gh-stars-wrap')
    const starListItems = document.getElementById('gh-star-list-items')

    if (!toggleStarBtn) throw new Error('Element toggle-star-list-btn missing')
    if (!starList) throw new Error('Element gh-star-list missing')
    if (!starWrapper) throw new Error('Element gh-stars-wrap missing')

    toggleStarBtn.addEventListener('click', () => {
        toggleStarBtn.classList.toggle('toggled')
        starList.classList.toggle('show')
        starWrapper.classList.toggle('toggled')
    })

    async function updateStars() {
        if (!starListItems) throw new Error('Element gh-star-list-items missing')

        // let resp = await fetch('https://api.atlasos.net/stars')
        // let json = await resp.json()
        // let starCount = json.count

        // document.getElementById('star-amount-tag').innerText = starCount
        // document.getElementById('star-amount-badge').innerText = (starCount / 1000).toFixed(1) + 'k'

        // resp = await fetch('https://api.atlasos.net/recent-stars')
        // json = await resp.json()
        // let recentStars = json.data
        // recentStars = recentStars.slice(0, 4)

        const recentStars = [
            {
                avatar: 'https://avatars.githubusercontent.com/u/25649238?v=4',
                username: 'driesxyz'
            }
        ]

        recentStars.forEach((star) => {
            const starElement = document.createElement('div')
            starElement.classList.add('content')
            starListItems.append(starElement)

            const userImgElement = document.createElement('img')
            userImgElement.alt = 'GitHub user avatar'
            userImgElement.src = star.avatar

            starElement.append(userImgElement)

            const userNameElement = document.createElement('p')
            userNameElement.innerText = star.username

            starElement.append(userNameElement)
        })
    }

    // if (import.meta.env.VITE_ENVIRONMENT === 'PRODUCTION') {
    updateStars()
    // }

    let benchmarkElements: any
    let benchmarkElementsOffset = 0

    let starcountElements: any
    let starcountElementsOffset = 0

    // benchmarkElements = benchmarkElements.offsetTop
    // starcountElements = starcountElements.offsetTop
</script>

<style is:global lang="scss">
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 210px;

        .tagline {
            display: inline-flex;
            padding: 8px 35px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            margin-bottom: 20px;
            border-radius: 50px;
            border: 1px solid hsla(205, 100%, 98%, 0.2);
            background-color: hsla(205, 100%, 98%, 0.05);
            transition: background-color 0.2s ease-in-out;

            .arrow {
                position: relative;
                transition: left 0.2s ease-in-out;
                left: 3px;
            }

            &:hover {
                background-color: hsla(205, 100%, 98%, 0.1);

                .arrow {
                    left: 8px;
                }
            }

            .icon {
                stroke: hsl(0, 0%, 90%);
                fill: transparent;
            }
        }

        h1 {
            font-size: 64px;
            text-align: center;
            max-width: 886px;
            background: linear-gradient(180deg, #fafafa 0%, rgba(250, 250, 250, 0.6) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 30px;
        }

        p {
            max-width: 628px;
            margin-bottom: 40px;
            text-align: center;
        }

        .buttons {
            display: flex;
            gap: 20px;
        }
    }

    .radial-bg {
        background: url('/radial-hero.svg') no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .wallpaper-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .wallpaper {
            max-width: 1300px;
            max-height: 449px;
            margin-top: 70px;
            animation: fade-up 1s ease-out;
        }
    }

    .brand-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;

        .logomark {
            transition: all 0.2s ease-in-out;
        }

        .logomark:hover {
            filter: brightness(1.3);
            transform: scale(1.01);
        }
    }

    @keyframes fade-up {
        from {
            margin-top: 100px;
            opacity: 0;
            margin-bottom: -30px;
        }

        to {
            margin-top: 70px;
            margin-bottom: 0px;
            opacity: 1;
        }
    }

    @media screen and (min-width: 2000px) {
        .wallpaper-wrapper {
            margin-top: 50px;
        }
    }

    @media screen and (min-width: 2400px) {
        .wallpaper-wrapper {
            margin-top: 100px;
        }
    }

    .upgrade-comparison {
        margin-top: 320px;

        .heading {
            display: flex;
            align-items: flex-end;
            gap: 100px;

            h2 {
                max-width: 465px;
                font-size: 60px;
                font-weight: 600;
            }

            span {
                font-weight: 600;
            }

            P {
                max-width: 544px;
            }
        }

        .cards {
            display: flex;
            gap: 35px;
            margin-top: 75px;

            .dark {
                background: linear-gradient(180deg, #0c1633 0%, #2d5ace 100%);
                border: 1px solid rgba(43, 86, 195, 1);
                transition: box-shadow 0.1s ease-in;

                &:hover {
                    box-shadow: 0px 4px 35px -5px rgba(43, 86, 195, 0.2);
                }
            }

            .light {
                background: linear-gradient(180deg, #0c1633 0%, #6f8cd8 100%);
                border: 1px solid rgba(111, 140, 216, 1);
                transition: box-shadow 0.1s ease-in;

                &:hover {
                    box-shadow: 0px 4px 35px -5px rgba(111, 140, 216, 0.2);
                }
            }

            .card {
                padding: 40px 50px;
                border-radius: 5px;

                p {
                    font-size: 14px;
                }

                .title {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    gap: 10px;
                    margin-bottom: 20px;

                    .icon {
                        stroke: var(--icon-white);
                        fill: transparent;
                    }

                    h3 {
                        font-family: 'Inter', sans-serif;
                        font-weight: 600;
                        font-size: 24px;
                    }

                    img {
                        width: 26px;
                        height: 20px;
                    }

                    .fire {
                        width: 24px;
                        height: 22px;
                    }

                    .latency {
                        width: 26px;
                        height: 20px;
                    }

                    .fingerprint {
                        width: 24px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .darken {
        color: rgba(243, 250, 255, 0.45);
    }

    .highlight {
        color: rgba(26, 145, 255, 1);
        font-weight: 700;
    }

    .windows-comparison {
        margin-top: 300px;

        .benchmark-link {
            text-align: center;
            text-decoration: underline;
            display: flex;
            margin: 65px auto;
            align-items: center;
            gap: 10px;
            justify-content: center;

            a {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p {
                max-width: 544px;
                margin-top: 30px;
            }

            h2 {
                font-size: 60px;
                font-weight: 600;
            }

            span {
                font-weight: 600;
            }
        }

        .cards {
            display: flex;
            margin-top: 75px;
            background-color: var(--bg-card-color);
            border-radius: 5px;
            align-items: center;

            .splitter {
                width: 2px;
                height: 300px;
            }

            .card {
                display: flex;
                width: 33.3%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 35px;
                padding: 70px 60px;

                .card-title {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .icon {
                        stroke: var(--icon-white);
                        fill: transparent;
                    }

                    img {
                        width: 28px;
                        height: 28px;
                    }

                    h3 {
                        font-size: 36px;
                        font-weight: 600;
                    }
                }

                span {
                    color: rgba(26, 145, 255, 1);
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }

    .trustpilot-section {
        display: flex;

        h2 {
            margin-bottom: 30px;
        }

        & > div {
            width: 50%;
        }

        .review-star {
            margin-top: 40px;
            display: flex;
            gap: 20px;
            align-items: center;
            color: rgba(243, 250, 255, 0.5);

            span {
                color: hsl(149, 71%, 82%);
            }

            a {
                color: rgba(243, 250, 255, 0.8);
                text-decoration: underline;
            }

            img {
                width: 166px;
                height: 30px;
            }
        }

        .community-info {
            p {
                max-width: 570px;
            }

            h2 {
                font-size: 60px;
                font-weight: 600;
                margin-bottom: 30px;
            }
        }

        .review-item {
            position: relative;
            width: fit-content;
            margin-left: auto;
            z-index: -1;

            .review-img {
                width: 587px;
                height: 330px;
            }

            .trustpilot-box .logo {
                width: 106px;
                height: 94px;
            }

            .trustpilot-box {
                position: absolute;
                bottom: -60px;
                left: -60px;
                background-color: var(--bg-card-color);
                display: flex;
                align-items: center;
                padding: 20px 40px;
                gap: 30px;
                border-radius: 5px;
                width: min(500px, 100%);

                .tp-star {
                    position: absolute;
                    top: -45px;
                    right: -45px;
                }

                .info {
                    p {
                        font-size: 12px;
                        color: hsla(205, 100%, 98%, 50%);
                    }

                    .review-count {
                        margin-bottom: 5px;
                    }

                    span {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    .verified-company {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        background-color: hsl(149, 71%, 82%);
                        padding: 6px 12px;

                        p {
                            color: black;
                            font-size: 12px;
                            font-weight: 600;
                        }

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    .open-source-section {
        display: flex;
        justify-content: space-between;
        margin-top: 360px;

        .gpl-info {
            text-align: end;
            max-width: 587px;

            .stargazer-count {
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 30px;
                margin-top: 40px;

                .gpl-logo {
                    width: 127px;
                    height: 63px;
                }

                .stargazers {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .star img {
                        width: 19px;
                        height: 19px;
                    }
                }

                span {
                    color: hsl(41, 68%, 55%);
                }

                p {
                    color: hsla(205, 100%, 98%, 0.5);
                }

                a {
                    color: hsla(205, 100%, 98%, 0.8);
                    text-decoration: underline;
                }
            }

            h2 {
                margin-bottom: 30px;
                font-size: 60px;
                font-weight: 600;
            }
        }

        .github-image {
            position: relative;
            width: 587px;
            height: 339;

            .gh-stars {
                position: absolute;
                bottom: -7px;
                right: -60px;
                background-color: hsl(214, 13%, 25%);
                border: 1px solid hsl(212, 11%, 31%);
                border-radius: 5px;
                color: hsl(203, 23%, 71%);
                width: 270px;

                &.toggled {
                    border-radius: 5px 5px 0 0;
                }

                hr {
                    border: 1px solid hsl(212, 11%, 31%);
                }

                .gh-stars-info {
                    width: 270px;
                    display: flex;
                    justify-content: center;

                    .content {
                        display: flex;
                        align-items: center;
                        padding: 8px 18px;

                        .chevron-img {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.1s ease-in-out;
                            width: 15px;
                            height: 8px;

                            &.toggled {
                                transform: rotate(180deg);
                            }
                        }

                        .star {
                            width: 19px;
                            height: 19px;
                        }
                    }
                }

                .gh-recent-stars {
                    position: absolute;
                    width: 270px;
                    margin-left: -1px;
                    border-radius: 0 0 5px 5px;
                    height: 0px;
                    overflow: hidden;
                    transition: height 0.3s ease-in-out;

                    &.show {
                        height: 262px;
                    }

                    .content-wrap {
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        background-color: hsl(214, 13%, 25%);
                        border: 1px solid hsl(212, 11%, 31%);
                    }

                    .content {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        img {
                            width: 40px;
                            border-radius: 90%;
                        }
                    }
                }

                .star {
                    margin-right: 15px;
                }

                .star-count {
                    background-color: hsl(213, 12%, 30%);
                    border-radius: 15px;
                    font-size: 14px;
                    padding: 8px 14px;
                    margin-left: 30px;
                    margin-right: 2px;
                }

                .line {
                    width: 1px;
                    background-color: hsl(212, 11%, 31%);
                }
            }
        }
    }

    .trustpilot-section {
        display: flex;
        justify-content: center;
        margin-top: 300px;

        .community-info {
            max-width: 587px;

            h2 {
                margin-bottom: 30px;
            }
        }

        .community-image {
            position: relative;
            width: fit-content;

            .community-box {
                position: absolute;
                bottom: -60px;
                left: -60px;
                background-color: hsl(224, 31%, 21%);
                display: flex;
                align-items: center;
                padding: 20px 40px;
                gap: 30px;
                border-radius: 5px;
                width: min(500px, 100%);

                .community-star {
                    position: absolute;
                    top: -45px;
                    right: -45px;
                }
            }

            .info {
                p {
                    font-size: 12px;
                    color: hsla(205, 100%, 98%, 50%);
                }

                span {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                .verified-company {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: hsl(149, 71%, 82%);
                    padding: 6px 12px;

                    p {
                        color: black;
                        font-size: 12px;
                        font-weight: 600;
                    }

                    img {
                        width: 16px;
                    }
                }
            }
        }
    }

    .linus-section {
        margin-top: 300px;

        .preview-image {
            background-image: url('/linus-thumbnail.webp');
            background-size: cover;
            background-position: center;
            height: 546px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border-radius: 14px 14px 0px 0px;
        }

        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 40px;
                height: 40px;
                margin-left: 8px;
            }
        }

        .heading {
            text-align: center;
            margin-bottom: 100px;

            h3 {
                font-style: italic;
                font-size: 64px;
            }

            p {
                font-size: 24px;
                margin-top: 40px;
                color: hsla(205, 100%, 100%, 45%);
            }
        }
    }

    .footer-radial {
        background: url('/footer-radial.svg') no-repeat;
        background-position: bottom center;
        background-size: cover;
    }

    .community-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-top: 250px;
        padding-bottom: 190px;

        p {
            text-align: center;
            margin-bottom: 10px;
            max-width: 758px;
        }

        h3 {
            font-size: 48px;
            font-weight: 600;
        }

        .buttons {
            display: flex;
            gap: 50px;
        }
    }
</style>
