---
const { href = '#', className = '', styling = '', ariaLabel = 'External Link', children } = Astro.props

interface Props {
    href: string
    styling?: string
    className?: string
    ariaLabel?: string
    children: any
}
---

<a style={styling} class={className} href={href} aria-label={ariaLabel} target="_blank" rel="noreferrer noopener">
    {children}
</a>
