---
import Logomark from '../../public/logomark.svg'
import ExternalLink from './ExternalLink.astro'

import { Picture } from 'astro:assets'
import { Icon } from 'astro-icon'

interface Props {
    links: {
        documentation: string
        forum: string
        discord: string
        github: string
        faq: string
        twitter: string
        trustpilot: string
        donate: string
    }
}

const { links } = Astro.props
const forumDonate = `${links.forum}/access-portal`
---

<footer class="footer-wrapper">
    <div class="footer">
        <div class="left-section">
            <a class="logomark" href="/">
                <Picture src={Logomark} alt="Atlas logomark" />
            </a>
            <p>Atlas is Designed for gamers, with improved in-game framerates and lowered latency.</p>
            <div class="social-icons">
                <a href={links.twitter} aria-label="Follow us on X">
                    <Icon name="x-logo" class="icons" height="25px" width="25px" />
                </a>
                <a href={links.discord} aria-label="Join our Discord community">
                    <Icon name="discord-logo" class="icons" height="25px" width="25px" />
                </a>
                <a href={links.github} aria-label="Visit our GitHub repository">
                    <Icon name="github-logo" class="icons" height="25px" width="25px" />
                </a>
                <a href={links.donate} aria-label="Visit our Ko-fi page">
                    <Icon name="ko-fi-logo" class="icons" height="25px" width="30px" />
                </a>
                <a href={links.trustpilot} aria-label="Visit our TrustPilot page">
                    <Icon name="trustpilot-logo-mono" class="icons" height="25px" width="25px" />
                </a>
            </div>
            <span class="copyright">Copyright © 2023 AtlasOS. All rights reserved.</span>
        </div>
        <div class="links">
            <div class="column">
                <span>Sitemap</span>
                <a href="/">Home</a>
                <ExternalLink href={links.forum} children="Forum" />
                <ExternalLink href={links.documentation} children="Documentation" />
                <ExternalLink href={links.faq} children="FAQ" />
            </div>
            <div class="column">
                <span>Community</span>
                <ExternalLink href={links.github} children="GitHub" />
                <ExternalLink href={links.discord} children="Discord" />
                <ExternalLink href={links.twitter} children="Twitter" />
                <ExternalLink href={links.trustpilot} children="Trustpilot" />
            </div>
            <div class="column">
                <span>Donations</span>
                <ExternalLink href={links.donate} children="Ko-fi" />
                <ExternalLink href={forumDonate} children="Forum donate" />
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
    .footer-wrapper {
        padding: 70px 0px;
        background-color: hsl(225, 62%, 12%);
        border-top: 1px solid hsla(225, 71%, 7%, 0.3);

        .footer {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0px 20px;
            display: flex;
            justify-content: space-between;

            .left-section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;

                .logomark {
                    width: 200px;
                    height: 44px;

                    img {
                        width: 200px;
                        height: 44px;
                    }
                }

                p {
                    margin-top: -10px;
                    max-width: 325px;
                }

                .social-icons {
                    display: flex;
                    gap: 20px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .icons {
                        fill: hsla(205, 100%, 98%, 0.8);
                        transition: all 0.1s ease-in-out;

                        &:hover {
                            fill: hsl(300, 100%, 99%);
                            filter: brightness(1.4);
                        }
                    }
                }

                .copyright {
                    font-weight: 400;
                    font-size: 14px;
                    color: hsla(205, 100%, 98%, 0.6);
                }
            }

            .links {
                display: flex;
                gap: 150px;

                span {
                    font-weight: 500;
                    font-size: 18px;
                }

                a {
                    color: hsla(205, 100%, 98%, 0.8);
                    font-weight: 400;
                    transition: color 0.1s ease-in-out;

                    &:hover {
                        color: hsl(300, 100%, 99%);
                    }
                }

                .column {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }

    @media (max-width: 983px) {
        .footer {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 80px;

            .left-section {
                align-items: center;
                gap: 40px;
            }
        }
    }

    @media (max-width: 983px) and (min-width: 550px) {
        .footer {
            .links {
                flex-wrap: wrap;
            }
        }
    }

    @media (max-width: 675px) {
        .footer-wrapper .footer .links {
            flex-direction: column;
            gap: 50px;
        }
    }
</style>
