---
import Icon from 'astro-icon'
import { Image } from 'astro:assets'

import Wallpaper from '../assets/img/atlas-wallpaper.webp'
import PCGuide from '../assets/img/pcguide-logomark.svg'
import ItsFoss from '../assets/img/itsfoss-logomark.svg'
import WePC from '../assets/img/wepc-logomark.svg'
import TechSpot from '../assets/img/techspot-logomark.svg'
---

<div class="radial-wrapper">
    <div class="radial-bg"></div>
</div>
<div class="container main">
    <div class="hero">
        <a href="https://docs.atlasos.net/getting-started/installation" target="_blank" class="tagline">
            <Icon name="book-open-icon" height="15px" class="icon" />
            <span>View our detailed documentation for installing <span class="arrow">--></span></span>
        </a>
        <h1>A modification of Windows, designed for gamers.</h1>
        <p>It’s time to experience a new Windows experience. Designed for gamers, with improved in-game framerates and lowered latency.</p>
        <div class="buttons">
            <a class="button primary" href="/">AME Wizard -></a>
            <button class="button secondary" id="playbook-dl-btn">Atlas Playbook -></button>
        </div>
        <span id="download-count" class="download-count"></span>
    </div>
</div>
<div class="container main">
    <div class="wallpaper-wrapper">
        <Image src={Wallpaper} loading="eager" class="wallpaper" alt="atlas os wallpaper" />
    </div>
    <div class="linear-section"></div>

    <div class="brand-list">
        <a href="https://pcguide.com/software/atlasos/" rel="noreferrer nooopener" target="_blank">
            <Image src={PCGuide} alt="pc guide logomark" class="logomark" />
        </a>
        <a href="https://news.itsfoss.com/atlas-os/" rel="noreferrer nooopener" target="_blank">
            <Image src={ItsFoss} alt="its foss logomark" class="logomark" />
        </a>
        <a href="https://wepc.com/tips/is-atlas-os-worth-it/" rel="noreferrer nooopener" target="_blank">
            <Image src={WePC} alt="we pc logomark" class="logomark" />
        </a>
        <a href="https://techspot.com/news/97095-check-out-atlasos-redesigned-windows-10-version-gamers.html" rel="noreferrer nooopener" target="_blank">
            <Image src={TechSpot} alt="tech spot logomark" class="logomark" />
        </a>
    </div>
</div>

<script lang="ts">
const playbookDlBtn = document.getElementById('playbook-dl-btn')
const downloadCount = document.getElementById('download-count')

playbookDlBtn.addEventListener('click', () => {
    playbookDlBtn.innerText = 'Downloading...'
    downloadCount.innerText = ''
    window.open('https://github.com/Atlas-OS/Atlas/releases/latest/download/Atlas_W10-22H2.zip', '_blank')

    const downloaded = localStorage.getItem(`downloaded`)

    if (!downloaded) {
        localStorage.setItem(`downloaded`, 'true')
        fetch(`https://api.atlasos.net/w10_22h2/increment`, { method: 'POST' })
    }

    fetch(`https://api.atlasos.net/`).then(async (res) => {
        const body = await res.json()
        const count = body.data.find((download) => download.id == 4).count
        downloadCount.innerText = `Atlas has been downloaded ${count.toLocaleString('en-US')} times.`
    })

    setTimeout(() => {
        playbookDlBtn.innerText = 'Atlas Playbook ->'
    }, 3000)
})
</script>

<style lang="scss">
    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 210px;
        padding-bottom: 300px;
        margin-top: -800px;

        .tagline {
            display: inline-flex;
            padding: 8px 35px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            margin-bottom: 40px;
            border-radius: 50px;
            border: 1px solid hsla(205, 100%, 98%, 0.2);
            background-color: hsla(205, 100%, 98%, 0.05);
            transition: background-color 0.2s ease-in-out;

            .arrow {
                position: relative;
                transition: left 0.2s ease-in-out;
                left: 3px;
                white-space: nowrap;
            }

            &:hover {
                background-color: hsla(205, 100%, 98%, 0.1);

                .arrow {
                    left: 8px;
                }
            }

            .icon {
                stroke: hsl(0, 0%, 90%);
                fill: transparent;
            }
        }

        h1 {
            font-size: 64px;
            text-align: center;
            max-width: 886px;
            background: linear-gradient(180deg, #fafafa 0%, rgba(250, 250, 250, 0.6) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 30px;
        }

        p {
            max-width: 628px;
            margin-bottom: 40px;
            text-align: center;
        }

        .buttons {
            display: flex;
            gap: 20px;
        }
    }

    .download-count {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff80;
        margin-bottom: 100px;
    }

    .radial-wrapper {
        overflow: hidden;

        .radial-bg {
            position: relative;
            background: radial-gradient(45.1% 50% at 50% 50%, rgba(13, 58, 99, 0.5) 0%, rgba(12, 57, 99, 0) 100%);
            -webkit-animation: glow 2.5s alternate infinite;
            animation: glow 2.5s alternate infinite;
            height: 800px;
            z-index: -1;
        }
    }

    .wallpaper-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: -400px;

        .wallpaper {
            max-width: 100%;
            max-height: 488px;
            margin-top: 70px;
            animation: wallpaper-fade-up 1s ease-out;
            border-radius: 20px;
            z-index: -1;
        }
    }

    .linear-section {
        margin-top: -320px;
        height: 350px;
        width: 100%;
        background: linear-gradient(180deg, transparent 0%, rgba(5, 12, 31, 0.9) 75%, rgb(5, 12, 31) 85%, rgb(5, 12, 31) 100%);
    }

    .brand-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 250px;

        .logomark {
            transition: all 0.2s ease-in-out;
        }

        .logomark:hover {
            filter: brightness(1.3);

            @media screen and (min-width: 1000px) {
                transform: scale(1.01);
            }
        }
    }

    @keyframes wallpaper-fade-up {
        from {
            margin-top: 100px;
            opacity: 0;
            margin-bottom: -30px;
        }

        to {
            margin-top: 70px;
            margin-bottom: 0px;
            opacity: 1;
        }
    }

    @-webkit-keyframes glow {
        0% {
            -webkit-filter: brightness(1);
            filter: brightness(1);
        }
        100% {
            -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
        }
    }

    @keyframes glow {
        0% {
            -webkit-filter: brightness(1);
            filter: brightness(1);
        }
        100% {
            -webkit-filter: brightness(1.5);
            filter: brightness(1.5);
        }
    }

    @media (max-width: 1080px) {
        .radial-bg {
            left: -50%;
            right: -50%;
            width: 200vw;
        }
    }

    @media screen and (max-width: 1000px) {
        .hero {
            padding-bottom: 350px;
        }

        .linear-section {
            display: none;
        }

        .wallpaper-wrapper {
            display: none;
        }

        .brand-list {
            display: none;
        }
    }

    @media screen and (max-width: 810px) {
        .hero {
            padding-bottom: 150px;
        }
    }

    @media screen and (max-width: 500px) {
        .hero {
            padding-top: 150px;
            padding-bottom: 0px;

            h1 {
                font-size: 42px;
            }

            .tagline {
                font-size: 12px;
                padding: 8px 10px;
            }
        }

        .brand-list {
            a {
                transform: scale(0.5);

                .logomark {
                    width: 200px;
                }
            }
        }
    }
</style>
