---
import { Picture } from 'astro:assets'

import Wallpaper from '../assets/img/atlas-wallpaper.webp'
import PCGuide from '../assets/img/pcguide-logomark.svg'
import ItsFoss from '../assets/img/itsfoss-logomark.svg'
import WePC from '../assets/img/wepc-logomark.svg'
import TechSpot from '../assets/img/techspot-logomark.svg'
---

<div class="radial-wrapper">
    <div class="radial-bg"></div>
</div>

<div class="container main">
    <div class="hero">
        <h1 class="leading-tight">A modification of Windows, designed for enthusiasts.</h1>
        <p>It's time for a new Windows experience. Designed for enthusiasts and gamers, Atlas improves privacy, usability, and performance.</p>
        <span class="release-number">The latest version is <a href="https://github.com/Atlas-OS/Atlas/releases/latest" target="_blank" rel="noreferrer noopener">Atlas v0.4.0 (April 6 2024)</a></span>
        <button class="min-w-full sm:min-w-72 button primary mb-[100px]" id="dl-modal-trigger" onclick="toggleModal(true)">Get started -></button>
    </div>
</div>
<div class="container main">
    <div class="wallpaper-fade-in">
        <div class="wallpaper-wrapper">
            <Picture src={Wallpaper} loading="eager" class="wallpaper" alt="AtlasOS Wallpaper" />
            <div class="wallpaper-animation">
                <div class="wallpaper-animation-line"></div>
                <div class="wallpaper-animation-line"></div>
            </div>
        </div>
    </div>
    <div class="linear-section"></div>
    <div class="brand-list">
        <a href="https://pcguide.com/software/atlasos/" rel="noreferrer nooopener" target="_blank">
            <Picture src={PCGuide} loading="eager" alt="pc guide logomark" class="logomark" />
        </a>
        <a href="https://news.itsfoss.com/atlas-os/" rel="noreferrer nooopener" target="_blank">
            <Picture src={ItsFoss} loading="eager" alt="its foss logomark" class="logomark" />
        </a>
        <a href="https://wepc.com/tips/is-atlas-os-worth-it/" rel="noreferrer nooopener" target="_blank">
            <Picture src={WePC} loading="eager" alt="we pc logomark" class="logomark" />
        </a>
        <a href="https://techspot.com/news/97095-check-out-atlasos-redesigned-windows-10-version-gamers.html" rel="noreferrer nooopener" target="_blank">
            <Picture src={TechSpot} loading="eager" alt="tech spot logomark" class="logomark" />
        </a>
    </div>
</div>

<style lang="scss" is:global>
    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 210px;
        padding-bottom: 300px;
        margin-top: -1000px;

        .tagline {
            display: inline-flex;
            padding: 8px 35px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            margin-bottom: 40px;
            border-radius: 100px;
            border: 1px solid hsla(216, 25%, 67%, 0.3);
            background-color: hsla(205, 100%, 98%, 0.05);
            transition: background-color 0.2s ease-in-out;

            .arrow {
                position: relative;
                transition: left 0.2s ease-in-out;
                left: 3px;
                white-space: nowrap;
            }

            &:hover {
                background-color: hsla(205, 100%, 98%, 0.1);

                .arrow {
                    left: 8px;
                }
            }

            .icon {
                stroke: hsl(216, 25%, 67%);
                fill: transparent;
            }
        }

        h1 {
            font-size: 64px;
            text-align: center;
            max-width: 886px;
            background: linear-gradient(180deg, rgb(250, 250, 250) 0%, rgba(250, 250, 250, 0.6) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 25px;
        }

        p {
            max-width: 628px;
            margin-bottom: 35px;
            text-align: center;
        }

        .release-number {
            font-size: 14px;
            font-weight: 400;
            color: hsl(213, 11%, 64%, 0.6);
            margin-bottom: 20px;

            a {
                color: hsl(213, 11%, 64%, 1);
                transition: color 0.2s ease-in-out;
                font-weight: 500;

                &:hover {
                    color: hsla(0, 0%, 100%, 0.7);
                }
            }
        }
    }

    // .download-count {
    //     text-align: center;
    //     font-size: 14px;
    //     font-weight: 400;
    //     color: hsla(0, 0%, 100%, 0.5);
    //     margin-bottom: 100px;
    //     margin-top: 15px;
    //     transition: all 0.2s ease-in-out;
    // }

    .radial-wrapper {
        overflow-x: hidden;

        .radial-bg {
            position: relative;
            background: rgb(13, 58, 99);
            -webkit-animation: glow 2s alternate infinite;
            animation: glow 2s alternate infinite;
            -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
            mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
            height: 1000px;
            z-index: -99;
        }
    }

    @keyframes wallpaper-animation-line {
        0% {
            transform: matrix(1, 0, 0, 1, -150, 0);
        }

        18% {
            transform: matrix(1, 0, 0, 1, -150, -450);
        }

        21% {
            transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, -150, -500);
        }

        30% {
            transform: matrix(0, 1, -1, 0, 0, -620);
        }

        50% {
            transform: matrix(0, 1, -1, 0, 500, -620);
        }

        68% {
            transform: matrix(0, 1, -1, 0, 980, -620);
        }

        71% {
            transform: matrix(-0.7071, 0.7071, -0.7071, -0.7071, 1000, -620);
        }

        80% {
            transform: matrix(-1, 0, 0, -1, 1150, -470);
        }

        100% {
            transform: matrix(-1, 0, 0, -1, 1150, 0);
        }
    }

    .wallpaper-fade-in {
        margin-top: -400px;

        .wallpaper-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border-radius: 18px 18px 0 0;
            margin-top: 70px;
            animation: wallpaper-fade-up 1s ease-out;

            .wallpaper-animation {
                padding: 2px 2px 0;
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask-composite: xor;
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                position: absolute;
                inset: 0;
                border-radius: inherit;

                .wallpaper-animation-line {
                    will-change: transform;
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    animation: wallpaper-animation-line 12s linear infinite;
                    bottom: -300px;
                    background-image: linear-gradient(to top, rgba(109, 46, 255, 0), rgb(12, 21, 50), rgb(187, 194, 204), rgb(72, 167, 255) 99%, rgba(12, 21, 50, 0) 100%);
                }

                .wallpaper-animation-line:nth-child(1) {
                    animation-delay: 6s;
                }
            }

            .wallpaper {
                max-width: 100%;
                max-height: 490px;
                border-radius: inherit;
                border-radius: 18px 18px 0 0;
                border: 2px solid hsl(225, 62%, 12%);
            }
        }
    }

    .linear-section {
        position: relative;
        margin-top: -320px;
        height: 350px;
        width: 100%;
        background: linear-gradient(180deg, transparent 0%, rgba(5, 12, 31, 0.9) 75%, rgb(5, 12, 31) 85%, rgb(5, 12, 31) 100%);
        z-index: 2;
    }

    .brand-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 250px;

        .logomark {
            transition: all 0.2s ease-in-out;
        }

        .logomark:hover {
            filter: brightness(1.3);

            @media (min-width: 1000px) {
                transform: scale(1.01);
            }
        }
    }

    @keyframes wallpaper-fade-up {
        from {
            margin-top: 100px;
            opacity: 0;
            margin-bottom: -30px;
        }

        to {
            margin-top: 70px;
            margin-bottom: 0px;
            opacity: 1;
        }
    }

    @-webkit-keyframes glow {
        0% {
            -webkit-filter: brightness(1);
            filter: brightness(1);
        }
        100% {
            -webkit-filter: brightness(1.6);
            filter: brightness(1.6);
        }
    }

    @keyframes glow {
        0% {
            -webkit-filter: brightness(1);
            filter: brightness(1);
        }
        100% {
            -webkit-filter: brightness(1.6);
            filter: brightness(1.6);
        }
    }

    @media (max-width: 1080px) {
        .radial-bg {
            left: -50%;
            right: -50%;
            width: 200vw;
        }
    }

    @media (max-width: 1320px) {
        .hero {
            padding-bottom: 200px;
        }

        .linear-section {
            display: none;
        }

        .wallpaper-fade-in {
            display: none;
        }

        .brand-list {
            display: none;
        }
    }

    @media (max-width: 810px) {
        .hero {
            padding-bottom: 150px;
        }
    }

    @media (max-width: 500px) {
        .hero {
            padding-top: 150px;
            padding-bottom: 0px;

            h1 {
                font-size: 42px;
            }

            .tagline {
                font-size: 12px;
                padding: 8px 10px;
            }
        }

        .brand-list {
            a {
                transform: scale(0.5);

                .logomark {
                    width: 200px;
                }
            }
        }
    }
</style>
