---
import { AstroFont } from 'astro-font'

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props

const siteDomain = 'atlasos.net'
const imageUrl = 'https://atlasos.net/defaultimg.png'
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href="https://atlasos.net/" />
<link rel="sitemap" href="/sitemap-index.xml" />
<script type="text/partytown" defer data-domain={siteDomain} src="https://pla.atlasos.net/js/script.js"></script>

<title>AtlasOS - {title}</title>
<meta name="title" content=`AtlasOS: ${title}` />
<meta name="description" content={description} />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1a91ff" />
<meta name="msapplication-TileColor" content="#1a91ff" />
<meta name="theme-color" content="#1a91ff" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content={siteDomain} />
<meta property="og:title" content={title} />
<meta property="og:url" content={Astro.url} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />
<meta property="og:image:alt" content="A preview of the AtlasOS landing page" />

<meta property="twitter:card" content="summary_large_image" />

<!-- <AstroFont
    config={[
        {
            name: 'Inter',
            src: [
                {
                    style: 'normal',
                    weight: '400',
                    path: 'https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2'
                },
                {
                    style: 'medium',
                    weight: '500',
                    path: 'https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2'
                },
                {
                    style: 'semibold',
                    weight: '600',
                    path: 'https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2'
                }
            ],
            preload: true,
            display: 'swap',
            selector: 'h1, h2, h3, h4, h5, h6',
            fallback: 'sans-serif'
        },
        {
            name: 'Archivo',
            src: [
                {
                    style: 'medium',
                    weight: '500',
                    path: 'https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTBjNZ9xdp.woff2'
                },
                {
                    style: 'semibold',
                    weight: '600',
                    path: 'https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTT6jRZ9xdp.woff2'
                },
                {
                    style: 'bold',
                    weight: '700',
                    path: 'https://fonts.gstatic.com/s/archivo/v19/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTT0zRZ9xdp.woff2'
                }
            ],
            preload: true,
            display: 'swap',
            selector: 'body',
            fallback: 'sans-serif'
        }
    ]}
/> -->
