---
import { Picture } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import ExternalLink from './ExternalLink.astro'

import Logomark from '../../public/logomark.svg'

interface Props {
    links: {
        documentation: string
        forum: string
        discord: string
        github: string
        faq: string
        twitter: string
        donate: string
    }
}

const { links } = Astro.props
---

<div class="navbar-wrapper">
    <navbar class="navbar">
        <a href="/">
            <Picture src={Logomark} loading="eager" alt="Atlas logomark" />
        </a>
        <div class="links">
            <ExternalLink href={links.documentation} ariaLabel="Open Documentation" children="Documentation" />
            <ExternalLink href={links.forum} ariaLabel="Open GitHub Discussions" children="Discussions" />
            <ExternalLink href={links.faq} ariaLabel="Open FAQ" children="FAQ" />
            <ExternalLink href={links.donate} ariaLabel="Open Ko-fi" children="Support us" />
        </div>
        <div class="social-links">
            <a href={links.github} aria-label="Visit our GitHub repository" target="_blank" rel="noreferrer noopener">
                <Icon name="github-logo" size={26} class="icon" />
            </a>
            <a href={links.discord} aria-label="Join our Discord community" target="_blank" rel="noreferrer noopener">
                <Icon name="discord-logo" size={22} class="icon" />
            </a>
            <a href={links.twitter} aria-label="Follow us on X" target="_blank" rel="noreferrer noopener">
                <Icon name="x-logo" size={25} class="icon" />
            </a>
        </div>
    </navbar>
</div>

<style lang="scss">
    .navbar-wrapper {
        position: relative;
        z-index: 99;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 55px 0 25px;
        position: absolute;
        width: 100%;

        .links {
            display: flex;
            align-items: center;
            gap: 100px;

            a {
                color: hsla(0, 0%, 98%, 0.8);
                font-weight: 500;
                transition: color 0.2s ease-in-out;
            }

            a:hover {
                color: hsla(0, 0%, 98%, 1);
            }
        }

        .social-links {
            display: flex;
            align-items: center;
            gap: 30px;

            .icon {
                fill: hsla(0, 0%, 98%, 0.4);
                transition: fill 0.2s ease-in-out;
            }

            .icon:hover {
                fill: hsla(0, 0%, 98%, 0.8);
            }
        }

        @media (max-width: 900px) {
            padding: 25px 0;

            .social-links {
                scale: 0.8;
            }

            .links {
                display: none;
            }
        }
    }
</style>
